<div id="topBar">
	<h1>FishingBowl</h1>
	<% unless current_user %>
	<h3 class="Login" onClick="$('a.loginbox').trigger('click');">Sign in</h3>
	<% end %>
	<% if current_user %>
		<h3 class="Login" onClick="$('a.invitebox').trigger('click');">Invite Friends</h3>
		<a href="logout"><h3 class="Login">Logout</h3></a>
	<% end %>
</div>

<%= hidden_field_tag 'logged_in', !current_user.blank? %>

<a href="/loginbox.html" class="loginbox"></a>
<a href="/invitebox.html" class="invitebox"></a>

<div id="photos"></div>

<div id="camera">
	<span class="tooltip"></span>
	<span class="camTop"></span>

	<div id="screen"></div>
	<div id="buttons">
		<div class="buttonPane">
		<a id="shootButton" href="" class="blueButton">Shoot!</a>
		</div>
		<div class="buttonPane hidden">
		<a id="cancelButton" href="" class="blueButton">Cancel</a> <a id="uploadButton" href="" class="greenButton">Upload!</a>
		</div>
	</div>

	<span class="settings"></span>
</div>
